.App {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  font-family: arial;
  width: 720px;
  margin: auto auto;
}

.App h1 {
  text-align: center;
}

section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between
}