body {
  --green: #A5D266;
  --red: #F16B65;
  --grey1: #8283A7;
  --grey2: #54546C;
  --grey3: #404146;

  --quick: .25s;
  --normal: .5s;
  --slow: .75s;

  --thick-padding: .75em 1em;

  --radius: .25em; 
  background-color: var(--grey3);
  margin: 0;
  padding: 0;
}